{% extends 'bootstrap/base.html'%}

{% import 'macros.html' as macro%}
{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='index.css')}}">
{% endblock %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 heading">
            <h1>News Highlights</h1>
        </div>
    </div>

    <div class="container-fluid up">
        <div class="col-md-12 categories">
            <h2>General News</h2>
        </div>
        <div>
            {{macro.displaySources(general)}}
        </div>

    </div>
    <div class="row up">
        <div class="col-md-12 categories">
            <h2>Technology News</h2>
        </div>
        <div>
            {{macro.displaySources(technology)}}
        </div>

    </div>
    <div class="row up">
        <div class="col-md-12 categories">
            <h2>Science News</h2>
        </div>
        <div>

            {{macro.displaySources(science)}}
        </div>

    </div>
    <div class="row up">
        <div class="col-md-12 categories">
            <h2>Entertainment News</h2>
        </div>
        <div>
            {{macro.displaySources(entertainment)}}
        </div>

    </div>





    <div class="row up">
        <div class="col-md-12 categories">
            <h2>Sports News</h2>
        </div>
        <div>
            {{macro.displaySources(sports)}}
        </div>

    </div>





    <div class="row up">
        <div class="col-md-12 categories">
            <h2>Health News</h2>
        </div>
        <div>
            {{macro.displaySources(health)}}
        </div>

    </div>

    <div class="row up">
        <div class="col-md-12 categories">
            <h2>Business News</h2>
        </div>
        <div>
            {{macro.displaySources(business)}}
        </div>

    </div>
</div>
{% endblock %}